<%= form_for(@evidence) do |f| %>
  <% if @evidence.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@evidence.errors.count, "error") %> prohibited this evidence from being saved:</h2>

      <ul>
      <% @evidence.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date_of_evidence %><br>
    <%= f.date_select :date_of_evidence %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :comment %><br>
    <%= f.text_field :comment %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
