<h1>Listing evidences</h1>

<table>
  <thead>
    <tr>
      <th>Date of evidence</th>
      <th>Description</th>
      <th>Comment</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @evidences.each do |evidence| %>
      <tr>
        <td><%= evidence.date_of_evidence %></td>
        <td><%= evidence.description %></td>
        <td><%= evidence.comment %></td>
        <td><%= link_to 'Show', evidence %></td>
        <td><%= link_to 'Edit', edit_evidence_path(evidence) %></td>
        <td><%= link_to 'Destroy', evidence, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Evidence', new_evidence_path %>
