<!DOCTYPE html>
<html>
  <head>
    <title>A2P | Pupils</title>
  </head>

<%= flash[:notice] %>
<table>
  <thead>
    <tr>
     
      <th>Given Name</th>
      <th>Family Name</th>
      <th>Gender</th>
      <th>D.O.B</th>
      <th>Age</th>
    </tr>
  </thead>
  <tbody>
    <% @pupils.each do |pupil| %>
      <tr>
     
        <td><%= pupil.given_name %></td>
        <td><%= pupil.family_name %></td>
        <td><%= pupil.gender %></td>
        <td><%= pupil.dob %></td>
        <td><%= link_to 'Show', pupil_path(pupil) %></td>
        <td><%= link_to 'Destroy', pupil_path(pupil),
                    method: :delete, data: { confirm: 'Are you sure?' } %>
         
      </tr>
    <% end %>
  </tbody>
</table>
<div>
<h3>Import Pupils</h3>
  <%= form_tag import_pupils_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Import" %>
  <% end %>
</div>


<div>
<h3>New Pupil</h3>
<%= link_to 'Add new pupil here', new_pupil_path %>
</div>

