<h1>New Pupil</h1>
<%= form_for :pupil, url: pupils_path do |f| %>
  <p>
    <%= f.label :given_name %><br>
    <%= f.text_field :given_name %>
  </p>
 
  <p>
    <%= f.label :family_name %><br>
    <%= f.text_field :family_name %>
  </p>

  <p>
    <%= f.label :image_path %><br>
    <%= f.text_field :image_path %>
  </p>
<%= radio_button_tag(:gender, 1) %>
<%= label_tag(:gender_male, "Male") %>
<%= radio_button_tag(:gender, 2) %>
<%= label_tag(:gender_female, "Female") %>
 
  <p>
    <%= f.submit %>
  </p>
<%= link_to 'Back', pupils_path %>
<% end %>