<h1>New Pupil</h1>
<%= form_for :pupil, url: pupils_path do |f| %>
  <p>
    <%= f.label :given_name %><br>
    <%= f.text_field :given_name %>
  </p>
 
  <p>
    <%= f.label :family_name %><br>
    <%= f.text_field :family_name %>
  </p>
  <p>
    <%= f.label :dob %><br>
    <%= f.date_field :dob %>
</p>
  <p>
    <%= f.label :image_path %><br>
    <%= f.text_field :image_path %>
  </p>
<%= f.radio_button(:gender, 1) %>
<%= f.label(:gender, "Male") %>
<%= f.radio_button(:gender, 2) %>
<%= f.label(:gender, "Female") %>
 
  <p>
    <%= f.submit %>
  </p>
<%= link_to 'Back', pupils_path %>
<% end %>