<h1>New Pupil</h1>
<%= form_for :pupil, url: pupils_path do |f| %>
  <p>
    <%= f.label :given_name %><br>
    <%= f.text_field :given_name %>
  </p>
 
  <p>
    <%= f.label :family_name %><br>
    <%= f.text_area :family_name %>
  </p>

  <p>
    <%= f.label :image_path %><br>
    <%= f.text_area :image_path %>
  </p>

 
  <p>
    <%= f.submit %>
  </p>
<% end %>