

<%= @pupil = Pupil.find(params[:id]) %>

<p>
  <strong>First Name: </strong>
  <%= @pupil.given_name %>
</p>
 
<p>
  <strong>Surname:</strong>
  <%= @pupil.family_name %>
</p>
<p>
  <strong>D.O.B</strong>
  <%= @pupil.dob %>
</p>
<p>
  <strong>Gender:</strong>
  <%= @pupil.gender %>
</p>

<%= link_to 'Back', pupils_path %>

