<%= form_for(@evidence_type) do |f| %>
  <% if @evidence_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@evidence_type.errors.count, "error") %> prohibited this evidence_type from being saved:</h2>

      <ul>
      <% @evidence_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :evidence_type %><br>
    <%= f.text_field :evidence_type %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
